<div class="form-wrapper">
    <h3>{{isEditMode ? 'Edit Note' : 'Add new Note'}}</h3>
<form [formGroup]="formGroup"  (ngSubmit)="onSubmit()">
 
    <p class="flex-column">
        <mat-form-field class="control">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>
          <!-- <mat-error *ngIf="formGroup.invalid && !formGroup.get('name').pristine ">{{getErrorMessage()}}</mat-error> -->
      
          <span class="text-danger" *ngIf="formGroup.invalid && !formGroup.get('name').pristine">You must enter a value</span>
      
    </p>
   
    <p>
      
        <mat-form-field class="control">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description" formControlName="description">
                </textarea>
          </mat-form-field>
    
    </p>
 
   
    <p class="flex-row">
        <button mat-raised-button class="btn"  (click)="onCancelClick()">Cancel</button>

        <button mat-raised-button  class="btn" color="accent" [disabled]="!formGroup.valid">Save</button>
    </p>
     
  </form>
</div>